body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../photos/bck2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000046;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*NAVBAR*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;

}   

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}

/*responsive burger menu*/
.burger {
    width: 35px;
    display: none;
}

.fa-hamburger { 
    font-size: 25px;
}

/*desktop screen*/
@media screen and (max-width: 1024px) {
    .nav-links{
        width: 60%;
    }
}

/*ipads and mobiles*/
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        background-size: cover;
        /* background-repeat: repeat-y; */
    }
    
    .burger {
        display: block;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;  
    }

    .nav-links li{
        opacity: 0;
    }
}

.nav-active {
    transform: translateX(0%);
}

/*animation to make navbar links appear when toggled*/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {

        opacity: 1;
        transform: translateX(0px);

    }
}
/*MAIN*/ 

h1 {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-color: #2980b9; */
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100%;
}

/*TASKLIST*/

#toDoBox {
    width: 360px;
    background: #f7f7f7;
    margin: 200px auto;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

/*INPUT BOX*/
input {
    font-size: 18px;
    color: #2980b9;
    font-style: italic;
    font-weight: lighter;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

input:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#taskList > li {
    background: #fff; 
    height: 40px;
    line-height: 40px;
    color: #666;
}

#taskList > li:nth-child(2n) {
    background-color: #f7f7f7;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    width: 0px;
    transition: 0.2s linear;
    opacity: 0;
}

/*MAKE THE TRASH ICON APPEAR*/
li:hover span {
    width: 40px;
    opacity: 1;
}

.fa-plus {
    float: right;
}

/*Strike-through once task is clicked*/
.completed {
    color: gray;
    text-decoration: line-through;
}