body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../photos/bck2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000046;
}

h1 {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-color: #2980b9; */
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n) {
    background-color: #f7f7f7;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    width: 0px;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1;
}

.fa-plus {
    float: right;
}


input {
    font-size: 18px;
    color: #2980b9;
    font-style: italic;
    font-weight: lighter;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

input:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

#toDoBox {
    width: 360px;
    background: #f7f7f7;
    margin: 200px auto;
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}